## Python Refresher

Keywords & Identifiers

In [1]:
import keyword
print("Python Keywords:", keyword.kwlist)

Python Keywords: ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 Variables & Operators

In [2]:
# Practice: Chaining multiple operators
a = 10
b = 20
c = 30
print(a < b < c)  # Should return True

# Bitwise operations
x, y = 5, 3
print("Bitwise AND:", x & y)
print("Bitwise OR:", x | y)

True
Bitwise AND: 1
Bitwise OR: 7

Data Types - Numeric, Sequence, Boolean

In [3]:
# Check type dynamically and convert between them
data = [12, 4.5, True, complex(2, 3), "34"]
converted = [int(str(i).strip("True")) if str(i).isdigit() else i for i in data]
print(converted)

[12, 4.5, True, (2+3j), 34]

If, If-Else, If-Elif-Else

In [4]:
# Grade system
score = 87
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'
print("Grade:", grade)

Grade: B

Control Structure - Loops

In [5]:
# Nested Loop: Multiplication table with skipping 5
for i in range(1, 11):
    for j in range(1, 11):
        if j == 5:
            continue
        print(f"{i} x {j} = {i*j}", end="\t")
    print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100

Break, Continue, Pass

In [6]:
# Prime number finder with break and pass
for num in range(10, 20):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(f"{num} is Prime")

11 is Prime
13 is Prime
17 is Prime
19 is Prime

Input and Output

In [7]:
# Input two numbers and display their GCD
import math
a = int(input("Enter a: "))
b = int(input("Enter b: "))
print(f"GCD of {a} and {b} is {math.gcd(a, b)}")

Enter a: 5
Enter b: 6
GCD of 5 and 6 is 1

Lists - Methods and Slicing

In [8]:
# Remove duplicates and sort using list methods
data = [5, 1, 2, 5, 6, 2, 9]
unique_sorted = sorted(list(set(data)))
print("Unique & Sorted:", unique_sorted)

Unique & Sorted: [1, 2, 5, 6, 9]

Dictionaries - Methods

In [9]:
# Merge two dicts with dictionary comprehension
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
merged = {k: d2.get(k, d1.get(k)) for k in set(d1) | set(d2)}
print("Merged Dict:", merged)

Merged Dict: {'b': 3, 'a': 1, 'c': 4}

Sets - Methods

In [10]:
# Set operations: intersection and difference
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)

Intersection: {3, 4}
Difference: {1, 2}

Map Function & Mapping

In [11]:
# Square of numbers using map
nums = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, nums))
print("Squared:", squared)

Squared: [1, 4, 9, 16]

String Functions

In [12]:
# Count character frequency using dict
s = "banana"
freq = {char: s.count(char) for char in set(s)}
print(freq)

{'b': 1, 'a': 3, 'n': 2}

Number Functions

In [13]:
# Check for Armstrong numbers
for num in range(100, 1000):
    digits = [int(x) for x in str(num)]
    if sum([d**3 for d in digits]) == num:
        print(f"{num} is an Armstrong number")

153 is an Armstrong number
370 is an Armstrong number
371 is an Armstrong number
407 is an Armstrong number

Date and Time

In [14]:
from datetime import datetime, timedelta
now = datetime.now()
future = now + timedelta(days=10)
print("Today:", now.strftime("%Y-%m-%d"))
print("After 10 days:", future.strftime("%Y-%m-%d"))

Today: 2025-07-31
After 10 days: 2025-08-10

Functions - All Concepts

In [15]:
# Default, keyword, arbitrary, lambda
def student(name, age=18, **details):
    print(f"Name: {name}, Age: {age}, Other: {details}")

student("Kavi", course="Python", batch="Evening")

# Lambda
squares = list(map(lambda x: x**2, range(6)))
print("Squares:", squares)

Name: Kavi, Age: 18, Other: {'course': 'Python', 'batch': 'Evening'}
Squares: [0, 1, 4, 9, 16, 25]

### OOPS

In [16]:
class Vehicle:
    def __init__(self, name):
        self.name = name
    def move(self):
        print(f"{self.name} is moving.")

class Car(Vehicle):
    def move(self):  # Method Overriding
        print(f"{self.name} drives on roads.")

# Polymorphism
def travel(vehicle):
    vehicle.move()

v = Vehicle("Generic")
c = Car("Sedan")
travel(v)
travel(c)

Generic is moving.
Sedan drives on roads.

File Handling

In [17]:
# Write, read, and count words in a file
with open("sample.txt", "w") as f:
    f.write("This is a Python file\nWith multiple lines\nAnd words.")

with open("sample.txt", "r") as f:
    content = f.read()
    word_count = len(content.split())
print("Word Count:", word_count)

Word Count: 10

Exception Handling

In [18]:
try:
    val = int("abc")
except ValueError as e:
    print("ValueError:", e)
finally:
    print("Executed finally block")

ValueError: invalid literal for int() with base 10: 'abc'
Executed finally block

Modules - User-defined & Standard

In [20]:
# Create a module in another .py file and import
# utils.py
get_ipython().run_cell_magic('writefile', 'utils.py', 'def square(n): return n * n')

# Main file
import utils
print("Square:", utils.square(5))

Writing utils.py
Square: 25