 1. File I/O using Python

In [1]:
# Writing to and reading from a file
with open("sample.txt", "w") as f:
    f.write("Python\nData\nProcessing")

with open("sample.txt", "r") as f:
    lines = f.readlines()
print("File Content:", lines)

File Content: ['Python\n', 'Data\n', 'Processing']

 2. Read CSV File to Python List

In [3]:
import csv

data = []
with open('sample_data.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        data.append(row)

print("CSV as List:", data[:3])  # Show first 3 rows

CSV as List: [['id', 'name', 'status', 'amount', 'date'], ['1', 'Alice', 'Approved', '1200', '2023-01-10'], ['2', 'Bob', 'Rejected', '850', '2023-02-15']]

3. Processing Python Lists

In [4]:
# Count how many times each item appears
items = ['a', 'b', 'a', 'c', 'b', 'a']
counts = {item: items.count(item) for item in set(items)}
print("Counts:", counts)

Counts: {'a': 3, 'c': 1, 'b': 2}

4. Lambda Functions

In [5]:
square = lambda x: x ** 2
print("Square of 5:", square(5))

Square of 5: 25

5. Filter using filter and lambda

In [6]:
numbers = [1, 2, 3, 4, 5, 6]
even = list(filter(lambda x: x % 2 == 0, numbers))
print("Even Numbers:", even)

Even Numbers: [2, 4, 6]

6. Unique values using map and set

In [7]:
names = ['Ana', 'Ben', 'Ana', 'Cody']
upper_unique = set(map(str.upper, names))
print("Unique Uppercase Names:", upper_unique)

Unique Uppercase Names: {'ANA', 'BEN', 'CODY'}

7. Sort List using key

In [8]:
data = ['banana', 'apple', 'cherry']
sorted_data = sorted(data, key=lambda x: len(x))
print("Sorted by Length:", sorted_data)

Sorted by Length: ['apple', 'banana', 'cherry']

 8. Overview of JSON Strings & Files

In [9]:
import json

json_str = '{"name": "Alex", "age": 25}'
data = json.loads(json_str)
print("Name:", data['name'])

Name: Alex

9. Read JSON String to dict/list

In [10]:
json_data = '[{"id": 1}, {"id": 2}]'
parsed = json.loads(json_data)
print("Parsed JSON:", parsed)

Parsed JSON: [{'id': 1}, {'id': 2}]

10. Read JSON Schema from File

In [12]:
with open("schema.json", "r") as f:
    schema = json.load(f)
print("Schema Keys:", list(schema.keys()))

Schema Keys: ['title', 'type', 'properties', 'required']

11. Process JSON Data

In [13]:
data = [{"name": "Tom", "score": 90}, {"name": "Ana", "score": 88}]
names = [item["name"] for item in data]
print("Names:", names)

Names: ['Tom', 'Ana']

12. Extract from Complex JSON

In [14]:
complex_json = {
    "students": [
        {"name": "Tom", "scores": {"math": 90, "eng": 80}},
        {"name": "Ana", "scores": {"math": 88, "eng": 85}}
    ]
}
math_scores = [s["scores"]["math"] for s in complex_json["students"]]
print("Math Scores:", math_scores)

Math Scores: [90, 88]

13. Sort JSON Arrays

In [15]:
students = [{"name": "Tom", "score": 75}, {"name": "Ana", "score": 92}]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted:", sorted_students)

Sorted: [{'name': 'Ana', 'score': 92}, {'name': 'Tom', 'score': 75}]

14. Get Column Details from Schema JSON

In [16]:
def get_columns(schema_json):
    return list(schema_json.get('properties', {}).keys())

# Sample usage:
print(get_columns(schema))

['id', 'name', 'status', 'amount', 'date']

15. Lists & Tuples

In [17]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print("Tuple:", my_tuple)

Tuple: (1, 2, 3)

16. Enrich Data using NumPy & Pandas

In [18]:
import numpy as np
import pandas as pd

arr = np.array([1, 2, 3])
df = pd.DataFrame({"numbers": arr})
df["squared"] = df["numbers"] ** 2
print(df)

   numbers  squared
0        1        1
1        2        4
2        3        9